# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
churn_env/

# Data
*.csv
*.zip

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# MLflow
mlruns/
mlflow.db

# Prediction log (local DB — do not commit)
predictions.db

# Secrets
*.env
.env*
